---
---

@import "default_colors";

#experience_content h1 {
  font-size: 30px;
  margin-bottom: 0px;
  color: $conifer;
}

#experience_content h2 {
  font-size: 20px;
  margin-bottom: 0px;
  font-style: italic;
  color: white;
}

#experience_content h3 {
  font-size: 18px;
  margin-bottom: 0px;
  font-style: italic;
  color: white;
}

.experience {
  margin-bottom: 50px;
}